#productListContainer {
	margin-left: 25px;
}

#cartAddedHint {
	margin: 20px 140px;
	margin-bottom: 80px;
	box-shadow: rgb(150, 150, 150) 0px 2px 5px;
	padding: 30px;
	background: #ffffff;
	text-align: center;
	vertical-align: middle;
	height: 200px;
	position: fixed;
	display: none;
	left: 15%;
	top: 30%;
}

#cartAddedHint p {
	margin-top: 80px;
	font-size: 30px;
	font-family: 'Lora', sans-serif;
}
